@page "/data/create/users"
@using LCPFavThingsWebsite.Shared.Models
@using LCPFavThingsWebsite.Client.Components.Forms
@inject NavigationManager NavigationManager

<h3>Users</h3>

<DynamicForm mymodel="nusers" apiname="users" type="create" id="-1" />
<button type="button" class="btn btn-primary mt-3 mb-3 d-block" @onclick="@(() => Goto("/data"))">Back</button>

@code {
    LCPFavThingsWebsite.Shared.Models.UsersWOToken nusers { get; set; } = new LCPFavThingsWebsite.Shared.Models.UsersWOToken();

    private void Goto(string url)
    {
        NavigationManager.NavigateTo(url, true);
    }
}
